.pricing-section {
  background-repeat: no-repeat;
  background-position: center right;
}

.pricing-section h2 {
  font-size: 25px;
}

.pricing-section h3 {
  font-size: 65px;
  font-weight: 700;
}

.check {
  color: #fcff00;
}

.price-card {
  max-width: 500px;
  margin: 0 auto;
}
